#container1{

    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    flex-direction: column;
    height: auto;

}


* {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body {

    font-family: sans-serif;

}

body::-webkit-scrollbar {

    display: none;

}


/* top img */

#topImagetext{

    display: flex;
    flex-direction: column;


}

#topImagetext img {

    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;

}

#topImagetext button {

    background-color: rgba(35, 33, 75, 1);
    border: 2px solid white;
    width: 200px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    border-radius: 15px;
    border-color: #23214B;
    padding: 5px 5px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;

}

#topImagetext p {

    margin: 0;

}

/* info */
.info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-content:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

H1{
  align-content:center;
  text-align:center;
}


.nota {
  width: 100%;
  text-align: center;
}
.texto {
  width: 50%;
  align-content:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
.textoPhone {
  display: none;
  width: 50%;
}








/* nav */

#menu{

    background-color: #23214B;
    height: 10vh;
    color: white;

}

#navbarNavDropdown a{

    color: white;

}



#logo img {

    height: 100%;

}

.navbar-nav {

    margin-left: auto;
    margin-right: 0;
    font-size: 30px;
    color: white;

}


.navbar-nav a{

    margin-left: auto;
    margin-right: 0;
    font-size: 35px;
    color: white;

}

.dropdown-menu {

    background-color: rgba(35, 33, 75, 1);

}

.dropdown-item:hover{

    background-color: rgba(35, 33, 75, 0.692);
    color: white;

}

.navbar-nav li {

    margin-right: 15px;

}




/* cards */

.main-gallery {

    margin-top: 5vh;
    height: auto;
}

.heart {

    font-size: 25px;
    color:red;
    margin-left: auto;
    margin-right: 0;

}


.card:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.card {

    margin-right: 19px;
    height: 400px;
    width: 300px;
    margin-right: 10px;

}

a.fill-div {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: absolute;
}

/* form */

.inputContainer{

    position:relative;
    margin-top: 15px;
    width: 100%;

}

.inputContainer label{

	position: absolute;
	top: 15px;
	left: 0px;
	font-size: 16px;
	color: #c3c3c3;
    transition: all 0.5s ease-in-out;

}

.inputContainer input{

    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 18px 0 5px 0;
    font-size: 16px;
    color:  rgba(35, 33, 75, 1);

}

.inputContainer i {

    float: right;
    margin-right: 6px;
    margin-top: -25px;
    color: #c3c3c3;
    transition: all 0.5s ease-in-out;

}

.inputContainer input:focus{

    border: none;
    outline: none;
    border-bottom: 1px solid rgba(35, 33, 75, 1);

}


.inputContainer input:focus ~ i,
.inputContainer input:valid ~ i {

    color: rgba(35, 33, 75, 1);

}

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label{

    top: 0px;
    font-size: 12px;
    color: rgba(35, 33, 75, 1);

}

.textContainerLogin {

    padding-top: 100px;
    width: 50%;
    text-align: center;
    color: white;

}

.formLogin {

    width: 40%;
    height: 100%;
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.formLogin form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;

}

button i {

    margin-right: 10px;
    margin-left: -5px;

}

.formLogin form input[type=submit], button {

    margin-top: 30px;
    background-color: rgba(35, 33, 75, 1);
    border: 2px solid white;
    width: 150px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    border-radius: 15px;
    padding: 5px 0px;

}

.formLogin form input[type=submit]:hover, button:hover {

    filter: brightness(150%);

}

.linedWord::after, .linedWord::before {

    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 40%;

    margin: 0 3px;
    transform: translateY(-3px);

}


#btnEnviar {
    background-color: rgba(35, 33, 75, 1);
    border: 2px solid white;
    width: 200px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    border-radius: 15px;
    border-color: #23214B;
    padding: 5px 5px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;

}

#envio {

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: auto;
    width: 30%;
    text-align: center;

}

/* footer */

#footer {

    background-color: #23214B;
    height: 30vh;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;

}

#redeSocial{

    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;



}

.btnRede {

    margin-right: 10px;
    color: white;
    align-items: center;
    text-align: center;
    height: 15vh;
    width: 15vw;
}

#rede{
    width: 15%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-left: 1vw;
}

#rede img{
    height: 15vh;
    width: 15vw;
}

#tell{
    width: 70%;
    height: 100%;
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#cacto:link{

    text-decoration: none

}

#cacto {

    display: flex;
    justify-content: flex-end;
    width: 15%;
    height: 100%;
    align-items: center;
    text-align: center;

}

#cacto img{

    height: 30vh;
    width: 15vw;

}








@media only screen and (max-width: 990px) {

#menu {

    height: auto;

}


#envio {

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: auto;
    width: 100%;

}

#footer {

    background-color: #23214B;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
#rede{
    width: 100%;

    align-items: center;
    text-align: center;
}

#rede img{
    height: 70%;
    width: 70%;
}

#tell{

    width: 100%;

    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


#cacto{
    display:none;
}

h1 {
  align-items: center;
  text-align: center;
}
.texto {
  display: none;
}
.textoPhone {
  display: block;
  width: 100%;
  height auto;
  align-items: center;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-content:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.nota {
    width: 100%;
  align-content:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

}
